@tailwind base;
@tailwind components;
@tailwind utilities;

/* Importing local fonts */

@font-face {
  font-family: 'ShareTechMono';
  src: url('assets/ShareTechMono-Regular.ttf'), url('assets/ShareTechMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BaiJamjuree';
  src: url('assets/BaiJamjuree-Regular.ttf'), url('assets/BaiJamjuree-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@layer base {
  button {
    @apply text-sm px-2 py-1 h-full md:py-2 md:px-5 cursor-pointer border md:rounded-md flex items-center hover:shadow-none hover:border hover:border-bg_light;
  }

  input {
    @apply placeholder:text-sm md:placeholder:text-base border-transparent focus:border-transparent focus:ring-0 w-full md:py-2 border-none outline-none md:px-5 border rounded-sm md:rounded-md flex items-center hover:shadow-none hover:border hover:border-bg_light;
  }

  textarea {
    @apply border-transparent focus:border-transparent focus:ring-0 w-full py-2 px-5 rounded-md flex items-center border-none outline-none;
  }

  select {
    @apply focus:border-transparent focus:ring-0 py-2 px-5 rounded-md flex items-center border-none outline-none;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'BaiJamjuree';
}

::-webkit-scrollbar {
  width: 12px;
  height: 5px;
}

::-webkit-scrollbar-track {
  cursor: pointer;
  border-radius: 8px;

  background: #b3b3b3;
}

::-webkit-scrollbar-thumb {
  background: #7f57f1;
  cursor: pointer;
  border-radius: 8px;
}

::-webkit-scrollbar-button {
  width: 16px;
}

h2 {
  font-size: 25px;
  font-weight: bold;
  line-height: 1.2;
}