asgiref==3.7.2
distlib==0.3.8
Django==5.0.2
django-appconf==1.0.6
django-compressor==4.4
django-tailwind==3.8.0
django-tailwindcss==0.4.0
djangorestframework==3.14.0
filelock==3.13.1
jsonpointer==2.1
pillow==10.2.0
pygame==2.5.2
pytz==2024.1
rcssmin==1.1.1
rjsmin==1.2.1
sqlparse==0.4.4
tzdata==2024.1
virtualenv==20.25.1
zstandard==0.19.0
